@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
              O Infnet é uma instituição de ensino de graduação e de pós-graduação em diversas áreas de TI e Design Digital. 
              A formação oferecida é dividida blocos, módulos e cursos. Para avaliar a qualidade do ensino, 
              é feito um levantamento de opinião dos alunos a respeito dos cursos frequentados, abrangendo tópicos tais como a conduta dos professores, a qualidade das instalações e do material, do tempo de aulas, etc. Esta avaliação é feita preenchendo-se um formulário que lhes é entregue ao final do curso.
            </p>
        </div>
    </section>
}
<h4>Os cursos são avaliados pelos alunos por meio de um questionário que lhe são apresentados individualmente ao final dos cursos que frequentam. As questões são elaboradas pela coordenação dos cursos e variam conforme o foco da pesquisa que se quer avaliar: </h4>
<ol>
    <li>        
        <h5>professores;</h5>
    </li>

    <li>
      <h5> material de ensino;</h5>
    </li>

    <li>
       <h5> instalações;</h5>
    </li>
    <li>
       <h5>tempo do curso;</h5>
    </li>
    <li>
       <h5> duração das aulas, etc.</h5>
    </li>
</ol>
